header {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0px 50px 0px rgba(66, 6, 9, 0.507);
}

header .left {
  position: relative;
  width: 92vw;
  height: 80vh;
  background-image: url("../assets/profil.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

header .menu {
  width: 92vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

header .icon {
  padding: 1vw;
  width: 5vw;
  height: 5vw;
  margin-left: 2vw;
}

header .menuContainer {
  height: auto;
  margin-right: 15vw;
}

header .menuContainer a {
  font-weight: 400;
  font-size: 1.1vw;
  margin: 1.5vw;
  text-decoration: none; 
  position: relative; 
  cursor: pointer;
}

header .menuContainer .active:after{
  content: "";
  position: absolute;
  width: 1vw;
  height: 0.1vw;
  left: 0;
  bottom: -0.5vw;
  background-color: white;
}

header .menuLink {
  display: flex;
  justify-content: right;
  align-items: center;
}

header .menuLink a {
  margin-right: 1vw;
}

header .right {
  display: inline-block;
  width: 8vw;
  height: 80vh;
}

.intro {
  height: 100%;
  width: 100%;
}
  
.text {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  display: block;
}

.text-stroke {
  fill: none;
  stroke: black;
  stroke-width: 1.4vw;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  animation: 3s dash 2s infinite alternate;
}

@keyframes dash {
  from {
    stroke-dashoffset: -900;
  } to {
    stroke-dashoffset: 0;
  }
}

header .left .txt-rotate {
  font-weight: 200;
  font-size: 4vw;
  position: absolute;
  bottom: 2vw;
  left: 3.8vw;
  line-height: 4.4vw;
  height: 4.4vw;
}

header .left .wrap {
  padding-right: 0.5vw;
}

main {
  height: 200vh;
  position: relative;
}

main p {
  color: black;
}

main .container {
  position: absolute;
  top: -1vw;
  width: 84vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: white;
  margin-left: 4vw;
  box-shadow: 0 0px 50px 0px rgba(0, 0, 0, 0.226);
}

main .iconUp {
  width: 3.5vw;
  height: 3.5vw;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  z-index: 150;
  background-color: white;
  padding: 0.1vw;
  border-radius: 2.5vw;
  box-shadow: 0 0px 5px 0px rgba(66, 6, 9, 0.432);
  cursor: pointer;
}

main .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main .container .left {
  width: 20vw;
}

main .container .middle {
  width: 30vw;
  height: 30vw;
  border-radius: 15vw;
  border: solid 0.2vw rgb(179, 179, 179);
}

main .container .right {
  width: 20vw;
}
