#articles {
  position: relative;
  height: 50vw;
}

#articles p {
  color: black;
}

#articles .postItBG {
  position: relative;
  top: 10vw;
  width: 99vw;
  z-index: -10;
}

#articles > div {
  position: absolute;
  top: -2vw;
  width: 84vw;
  margin-left: 4vw;
}

#articles > div > div:first-child {
  background-color: white;
  box-shadow: 1vw 0 5vw 0 rgba(0, 0, 0, 0.226);
}

#articles > div > div:last-child {
  height: 2%;
}

#articles .firstContainer {
  padding-top: 3vw;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  padding-bottom: 3vw;
}

#articles .firstContainer > h1 {
  color: black;
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
}

#articles .firstContainer > h2 {
  color: rgb(110, 110, 110);
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
}

.competencesContainer {
  width: 100%;
  margin-top: 4vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4vw;
}

.competenceContainer {
  margin-right: auto;
  margin-left: auto;
}

.competenceContainer .icon {
  width: 7vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.competenceContainer h3 {
  font-size: 1vw;
  text-align: center;
  padding-top: 1.5vw;
  padding-bottom: 0.5vw;
  color: black;
}

.competenceContainer ul {
  list-style-type: none;
}

.competenceContainer li {
  width: 13vw;
  font-size: 1vw;
  text-align: center;
  color: black;
}